* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10%;
  color: #ffffff;
  display: inline-block;
  background-color: #d52047;
}

.big_img {
  background-image: url("/image/Photo.png");
  width: 216px;
  height: 95px;
}
